.team-logo {
    width: 200px;
    margin-bottom: 30px;
}

input {
    background-color: khaki;
    text-align: center;
    padding: 2px;
    display: flex;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 20px;
}