.teams-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conference {
    text-align: center;
}

h3 {
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    color: brown;
}