.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 10px;
    list-style-type: none;
    font-size: 20px;
    font-family: 'IM Fell French Canon SC', serif;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    color: lightgrey;
}