.team-info {
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}

.team-photo {
    height: 300px;
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}